#!/bin/sh

export HUBOT_YAMMER_KEY="YAMMER_KEY"
export HUBOT_YAMMER_SECRET="YAMMER_SECRET"
export HUBOT_YAMMER_TOKEN="YAMMER_TOKEN"
export HUBOT_YAMMER_TOKEN_SECRET="YAMMER_TOKEN_SECRET"
export HUBOT_YAMMER_GROUPS="YAMMER_GROUP_LIST"
export PATH=./node_modules/.bin:$PATH
export PORT=8080
